@charset "UTF-8";
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Black.woff2) format("woff2"),url(../font/NotoSansKR-Black.woff) format("woff"),url(../font/NotoSansKR-Black.otf) format("opentype");font-weight:900}
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Bold.woff2) format("woff2"),url(../font/NotoSansKR-Bold.woff) format("woff"),url(../font/NotoSansKR-Bold.otf) format("opentype");font-weight:700}
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Medium.woff2) format("woff2"),url(../font/NotoSansKR-Medium.woff) format("woff"),url(../font/NotoSansKR-Medium.otf) format("opentype");font-weight:500}
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Regular.woff2) format("woff2"),url(../font/NotoSansKR-Regular.woff) format("woff"),url(../font/NotoSansKR-Regular.otf) format("opentype");font-weight:400}
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Light.woff2) format("woff2"),url(../font/NotoSansKR-Light.woff) format("woff"),url(../font/NotoSansKR-Light.otf) format("opentype");font-weight:300}
@font-face{font-family:NotoSansKR;src:url(../font/NotoSansKR-Thin.woff2) format("woff2"),url(../font/NotoSansKR-Thin.woff) format("woff"),url(../font/NotoSansKR-Thin.otf) format("opentype");font-weight:100}
@keyframes slideUp{
0%{transform:translateY(100%)}
100%{transform:translateY(0)}
}
@keyframes slideOutUp{
0%{transform:translateY(0)}
100%{transform:translateY(-100%)}
}
@keyframes slideDown{
0%{transform:translateY(0)}
100%{transform:translateY(100%)}
}
@keyframes slideInDown{
0%{transform:translateY(-100%)}
100%{transform:translateY(0)}
}
@keyframes chk{
to{stroke-dashoffset:0}
}
@keyframes fadeInUp{
0%{transform:translateY(100%);opacity:0}
100%{transform:translateY(0);opacity:1}
}
@keyframes fadeOutDown{
0%{transform:translateY(0);opacity:1}
100%{transform:translateY(100%);opacity:0}
}
@keyframes fadeIn{
0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeOut{
0%{opacity:1}
100%{opacity:0}
}
@keyframes spin{
0%{transform:rotateY(0)}
25%{transform:rotateY(180deg)}
50%{transform:rotateY(360deg);opacity:.2}
100%{opacity:1}
}
.shadow1{box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}
.shadow2{box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.shadow3{box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}
.shadow4{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}
.shadow5{box-shadow:0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22)}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}
html{-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;-ms-text-size-adjust:100%;-webkit-touch-callout:none;-webkit-user-select:none;-webkit-tap-highlight-color:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio,canvas,video{display:inline-block;display:inline}
audio:not([controls]){display:none;height:0}
li,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
[hidden],template{display:none}
a{display:block;margin:0;padding:0;background:0 0;color:inherit;font-size:inherit;text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:rgba(255,255,255,0)}
b,strong{font-weight:700}
sub,sup{position:relative;font-size:.75rem;vertical-align:baseline}
sup{top:-.3em}
sub{bottom:-.25em}
small{font-size:.75rem}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
pre{overflow:auto;white-space:pre;white-space:pre-wrap;word-wrap:break-word}
button,input,select,textarea{margin:0;vertical-align:middle;appearance:none;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-o-appearance:none;-moz-appearance:none;-ms-appearance:none;box-shadow:none}
select{outline:0}
input::-ms-clear{display:none}
select::-ms-expand{display:none}
button{overflow:visible;-webkit-tap-highlight-color:rgba(255,255,255,0);border:none;outline:0;padding:0;background:0 0}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{overflow:visible;vertical-align:middle;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal;border:none;outline:0;caret-color:#505050}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=checkbox]::-ms-check{border:none;outline:0}
fieldset{margin:0;padding:0;border:none;outline:0}
legend{margin:0;padding:0;border:0}
textarea{overflow:auto;vertical-align:baseline;caret-color:#505050}
optgroup{font-weight:700}
[contenteditable=true]{caret-color:#505050;-webkit-user-select:text}
body,html{font-family:NotoSansKR,sans-serif;font-size:15px;font-weight:500;color:#505050;letter-spacing:-.5px}
button,input,select,textarea{font-family:NotoSansKR,sans-serif;font-size:15px;font-weight:500;color:#505050;letter-spacing:-.5px}
.hidden{display:none!important}
.blind{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip:rect(0 0 0 0)}
.space{position:relative;height:12px;background-color:#f1f1f1;overflow:hidden}
.space::before{content:"";position:absolute;top:-1px;left:0;width:100%;height:1px;box-shadow:0 1px 3px 0 rgba(0,0,0,.08)}
.form{width:100%;height:auto}
.hr{height:1px;margin:0 15px;background-color:#f1f1f1}
.pointer{cursor:pointer!important}
.ovh{overflow:hidden!important}
.ova{overflow:auto!important}
.p0{padding:0!important}
.p2{padding:2px!important}
.p4{padding:4px!important}
.p6{padding:6px!important}
.p8{padding:8px!important}
.p10{padding:10px!important}
.p12{padding:12px!important}
.p15{padding:15px!important}
.p16{padding:16px!important}
.p20{padding:20px!important}
.p24{padding:24px!important}
.p28{padding:28px!important}
.p32{padding:32px!important}
.p36{padding:36px!important}
.p40{padding:40px!important}
.p44{padding:44px!important}
.p48{padding:48px!important}
.p56{padding:56px!important}
.p64{padding:64px!important}
.pt0{padding-top:0!important}
.pt2{padding-top:2px!important}
.pt4{padding-top:4px!important}
.pt6{padding-top:6px!important}
.pt8{padding-top:8px!important}
.pt10{padding-top:10px!important}
.pt12{padding-top:12px!important}
.pt15{padding-top:15px!important}
.pt16{padding-top:16px!important}
.pt20{padding-top:20px!important}
.pt24{padding-top:24px!important}
.pt28{padding-top:28px!important}
.pt32{padding-top:32px!important}
.pt36{padding-top:36px!important}
.pt40{padding-top:40px!important}
.pt44{padding-top:44px!important}
.pt48{padding-top:48px!important}
.pt56{padding-top:56px!important}
.pt64{padding-top:64px!important}
.pr0{padding-right:0!important}
.pr2{padding-right:2px!important}
.pr4{padding-right:4px!important}
.pr6{padding-right:6px!important}
.pr8{padding-right:8px!important}
.pr10{padding-right:10px!important}
.pr12{padding-right:12px!important}
.pr15{padding-right:15px!important}
.pr16{padding-right:16px!important}
.pr20{padding-right:20px!important}
.pr24{padding-right:24px!important}
.pr28{padding-right:28px!important}
.pr32{padding-right:32px!important}
.pr36{padding-right:36px!important}
.pr40{padding-right:40px!important}
.pr44{padding-right:44px!important}
.pr48{padding-right:48px!important}
.pr56{padding-right:56px!important}
.pr64{padding-right:64px!important}
.pb0{padding-bottom:0!important}
.pb2{padding-bottom:2px!important}
.pb4{padding-bottom:4px!important}
.pb6{padding-bottom:6px!important}
.pb8{padding-bottom:8px!important}
.pb10{padding-bottom:10px!important}
.pb12{padding-bottom:12px!important}
.pb15{padding-bottom:15px!important}
.pb16{padding-bottom:16px!important}
.pb20{padding-bottom:20px!important}
.pb24{padding-bottom:24px!important}
.pb28{padding-bottom:28px!important}
.pb32{padding-bottom:32px!important}
.pb36{padding-bottom:36px!important}
.pb40{padding-bottom:40px!important}
.pb44{padding-bottom:44px!important}
.pb48{padding-bottom:48px!important}
.pb56{padding-bottom:56px!important}
.pb64{padding-bottom:64px!important}
.pl0{padding-left:0!important}
.pl2{padding-left:2px!important}
.pl4{padding-left:4px!important}
.pl6{padding-left:6px!important}
.pl8{padding-left:8px!important}
.pl10{padding-left:10px!important}
.pl12{padding-left:12px!important}
.pl15{padding-left:15px!important}
.pl16{padding-left:16px!important}
.pl20{padding-left:20px!important}
.pl24{padding-left:24px!important}
.pl28{padding-left:28px!important}
.pl32{padding-left:32px!important}
.pl36{padding-left:36px!important}
.pl40{padding-left:40px!important}
.pl44{padding-left:44px!important}
.pl48{padding-left:48px!important}
.pl56{padding-left:56px!important}
.pl64{padding-left:64px!important}
.px0{padding-left:0!important;padding-right:0!important}
.px2{padding-left:2px!important;padding-right:2px!important}
.px4{padding-left:4px!important;padding-right:4px!important}
.px6{padding-left:6px!important;padding-right:6px!important}
.px8{padding-left:8px!important;padding-right:8px!important}
.px10{padding-left:10px!important;padding-right:10px!important}
.px12{padding-left:12px!important;padding-right:12px!important}
.px15{padding-left:15px!important;padding-right:15px!important}
.px16{padding-left:16px!important;padding-right:16px!important}
.px20{padding-left:20px!important;padding-right:20px!important}
.px24{padding-left:24px!important;padding-right:24px!important}
.px28{padding-left:28px!important;padding-right:28px!important}
.px32{padding-left:32px!important;padding-right:32px!important}
.px36{padding-left:36px!important;padding-right:36px!important}
.px40{padding-left:40px!important;padding-right:40px!important}
.px44{padding-left:44px!important;padding-right:44px!important}
.px48{padding-left:48px!important;padding-right:48px!important}
.px56{padding-left:56px!important;padding-right:56px!important}
.px64{padding-left:64px!important;padding-right:64px!important}
.py0{padding-top:0!important;padding-bottom:0!important}
.py2{padding-top:2px!important;padding-bottom:2px!important}
.py4{padding-top:4px!important;padding-bottom:4px!important}
.py6{padding-top:6px!important;padding-bottom:6px!important}
.py8{padding-top:8px!important;padding-bottom:8px!important}
.py10{padding-top:10px!important;padding-bottom:10px!important}
.py12{padding-top:12px!important;padding-bottom:12px!important}
.py15{padding-top:15px!important;padding-bottom:15px!important}
.py16{padding-top:16px!important;padding-bottom:16px!important}
.py20{padding-top:20px!important;padding-bottom:20px!important}
.py24{padding-top:24px!important;padding-bottom:24px!important}
.py28{padding-top:28px!important;padding-bottom:28px!important}
.py32{padding-top:32px!important;padding-bottom:32px!important}
.py36{padding-top:36px!important;padding-bottom:36px!important}
.py40{padding-top:40px!important;padding-bottom:40px!important}
.py44{padding-top:44px!important;padding-bottom:44px!important}
.py48{padding-top:48px!important;padding-bottom:48px!important}
.py56{padding-top:56px!important;padding-bottom:56px!important}
.py64{padding-top:64px!important;padding-bottom:64px!important}
.ma{margin:auto!important}
.m0{margin:0!important}
.m2{margin:2px!important}
.m4{margin:4px!important}
.m6{margin:6px!important}
.m8{margin:8px!important}
.m10{margin:10px!important}
.m12{margin:12px!important}
.m15{margin:15px!important}
.m16{margin:16px!important}
.m20{margin:20px!important}
.m24{margin:24px!important}
.m28{margin:28px!important}
.m32{margin:32px!important}
.m36{margin:36px!important}
.m40{margin:40px!important}
.m44{margin:44px!important}
.m48{margin:48px!important}
.m56{margin:56px!important}
.m64{margin:64px!important}
.mt0{margin-top:0!important}
.mt2{margin-top:2px!important}
.mt4{margin-top:4px!important}
.mt6{margin-top:6px!important}
.mt8{margin-top:8px!important}
.mt10{margin-top:10px!important}
.mt12{margin-top:12px!important}
.mt15{margin-top:15px!important}
.mt16{margin-top:16px!important}
.mt20{margin-top:20px!important}
.mt24{margin-top:24px!important}
.mt28{margin-top:28px!important}
.mt32{margin-top:32px!important}
.mt36{margin-top:36px!important}
.mt40{margin-top:40px!important}
.mt44{margin-top:44px!important}
.mt48{margin-top:48px!important}
.mt56{margin-top:56px!important}
.mt64{margin-top:64px!important}
.mta{margin-top:auto!important}
.mr0{margin-right:0!important}
.mr2{margin-right:2px!important}
.mr4{margin-right:4px!important}
.mr6{margin-right:6px!important}
.mr8{margin-right:8px!important}
.mr10{margin-right:10px!important}
.mr12{margin-right:12px!important}
.mr15{margin-right:15px!important}
.mr16{margin-right:16px!important}
.mr20{margin-right:20px!important}
.mr24{margin-right:24px!important}
.mr28{margin-right:28px!important}
.mr32{margin-right:32px!important}
.mr36{margin-right:36px!important}
.mr40{margin-right:40px!important}
.mr44{margin-right:44px!important}
.mr48{margin-right:48px!important}
.mr56{margin-right:56px!important}
.mr64{margin-right:64px!important}
.mra{margin-right:auto!important}
.mb0{margin-bottom:0!important}
.mb2{margin-bottom:2px!important}
.mb4{margin-bottom:4px!important}
.mb6{margin-bottom:6px!important}
.mb8{margin-bottom:8px!important}
.mb10{margin-bottom:10px!important}
.mb12{margin-bottom:12px!important}
.mb15{margin-bottom:15px!important}
.mb16{margin-bottom:16px!important}
.mb20{margin-bottom:20px!important}
.mb24{margin-bottom:24px!important}
.mb28{margin-bottom:28px!important}
.mb32{margin-bottom:32px!important}
.mb36{margin-bottom:36px!important}
.mb40{margin-bottom:40px!important}
.mb44{margin-bottom:44px!important}
.mb48{margin-bottom:48px!important}
.mb56{margin-bottom:56px!important}
.mb64{margin-bottom:64px!important}
.mba{margin-bottom:auto!important}
.ml0{margin-left:0!important}
.ml2{margin-left:2px!important}
.ml4{margin-left:4px!important}
.ml6{margin-left:6px!important}
.ml8{margin-left:8px!important}
.ml10{margin-left:10px!important}
.ml12{margin-left:12px!important}
.ml15{margin-left:15px!important}
.ml16{margin-left:16px!important}
.ml20{margin-left:20px!important}
.ml24{margin-left:24px!important}
.ml28{margin-left:28px!important}
.ml32{margin-left:32px!important}
.ml36{margin-left:36px!important}
.ml40{margin-left:40px!important}
.ml44{margin-left:44px!important}
.ml48{margin-left:48px!important}
.ml56{margin-left:56px!important}
.ml64{margin-left:64px!important}
.mla{margin-left:auto!important}
.mx0{margin-left:0!important;margin-right:0!important}
.mx2{margin-left:2px!important;margin-right:2px!important}
.mx4{margin-left:4px!important;margin-right:4px!important}
.mx6{margin-left:6px!important;margin-right:6px!important}
.mx8{margin-left:8px!important;margin-right:8px!important}
.mx10{margin-left:10px!important;margin-right:10px!important}
.mx12{margin-left:12px!important;margin-right:12px!important}
.mx15{margin-left:15px!important;margin-right:15px!important}
.mx16{margin-left:16px!important;margin-right:16px!important}
.mx20{margin-left:20px!important;margin-right:20px!important}
.mx24{margin-left:24px!important;margin-right:24px!important}
.mx28{margin-left:28px!important;margin-right:28px!important}
.mx32{margin-left:32px!important;margin-right:32px!important}
.mx36{margin-left:36px!important;margin-right:36px!important}
.mx40{margin-left:40px!important;margin-right:40px!important}
.mx44{margin-left:44px!important;margin-right:44px!important}
.mx48{margin-left:48px!important;margin-right:48px!important}
.mx56{margin-left:56px!important;margin-right:56px!important}
.mx64{margin-left:64px!important;margin-right:64px!important}
.mxa{margin-left:auto!important;margin-right:auto!important}
.my0{margin-top:0!important;margin-bottom:0!important}
.my2{margin-top:2px!important;margin-bottom:2px!important}
.my4{margin-top:4px!important;margin-bottom:4px!important}
.my6{margin-top:6px!important;margin-bottom:6px!important}
.my8{margin-top:8px!important;margin-bottom:8px!important}
.my10{margin-top:10px!important;margin-bottom:10px!important}
.my12{margin-top:12px!important;margin-bottom:12px!important}
.my15{margin-top:15px!important;margin-bottom:15px!important}
.my16{margin-top:16px!important;margin-bottom:16px!important}
.my20{margin-top:20px!important;margin-bottom:20px!important}
.my24{margin-top:24px!important;margin-bottom:24px!important}
.my28{margin-top:28px!important;margin-bottom:28px!important}
.my32{margin-top:32px!important;margin-bottom:32px!important}
.my36{margin-top:36px!important;margin-bottom:36px!important}
.my40{margin-top:40px!important;margin-bottom:40px!important}
.my44{margin-top:44px!important;margin-bottom:44px!important}
.my48{margin-top:48px!important;margin-bottom:48px!important}
.my56{margin-top:56px!important;margin-bottom:56px!important}
.my64{margin-top:64px!important;margin-bottom:64px!important}
.mya{margin-top:auto!important;margin-bottom:auto!important}
.fs10{font-size:10px!important}
.fs11{font-size:11px!important}
.fs12{font-size:12px!important}
.fs13{font-size:13px!important}
.fs14{font-size:14px!important}
.fs15{font-size:15px!important}
.fs16{font-size:16px!important}
.fs17{font-size:17px!important}
.fs18{font-size:18px!important}
.fs19{font-size:19px!important}
.fs20{font-size:20px!important}
.fs21{font-size:21px!important}
.fs22{font-size:22px!important}
.fs24{font-size:24px!important}
.fs28{font-size:28px!important}
.fs32{font-size:32px!important}
.fwr{font-weight:400!important}
.fwm{font-weight:500!important}
.fwb{font-weight:700!important}
.fc20{color:#202020!important}
.fc50{color:#505050!important}
.fc90{color:#909090!important}
.fcb8{color:#b8b8b8!important}
.fcd4{color:#d4d4d4!important}
.fcf1{color:#f1f1f1!important}
.fcb{color:#000!important}
.fcw{color:#fff!important}
.fcerr{color:#ff1919!important}
.fcwarn{color:#f90!important}
.fcpos{color:#17bc6f!important}
.fcsuc{color:#81a0ff!important}
.fcp-50{color:#3654ae!important}
.fcp-40{color:#4169e1!important}
.tc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tc-1{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all}
.tc-2{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all}
.tc-3{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all}
.tc-4{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all}
.tc-5{display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all}
.tpw{white-space:pre-wrap}
.tnw{white-space:nowrap}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.pc__bg{width:100%}
.pc__container{width:100%}
.top{position:absolute;z-index:100;top:0;right:0;left:0;width:100%}
.top-fix{position:fixed}
.content{position:relative;z-index:10;width:100%;min-height:100vh;padding-top:45px;box-sizing:border-box}
.content-bot{padding-bottom:66px}
.content-gray{background-color:#fafafa}
.content__vt_container{display:flex;flex-direction:column;justify-content:flex-start;align-items:stretch;flex-wrap:nowrap;width:100%;height:100%}
.bot{position:relative;z-index:200;width:100%}
.bot-fix{position:fixed;z-index:200;right:0;bottom:0;left:0}
.pop{position:fixed;z-index:4000;top:0;right:0;bottom:0;left:0;display:flex;flex-direction:row;justify-content:center;align-items:center;flex-wrap:nowrap;width:100%}
.pop__bg{position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.4)}
.pop__bg-dark{background-color:rgba(0,0,0,.8)}
.pop__layer{position:relative;z-index:1;width:330px;max-width:96%}
.pop__layer-pc{width:360px}
.pop__full_layer{position:absolute;z-index:1;top:0;left:0;width:100%;height:100vh;background-color:#fff;overflow:hidden}
.pop__full_layer-scroll{height:100%;overflow-y:auto}
.bot_pop{position:fixed;z-index:800;top:0;right:0;bottom:0;left:0;width:100%}
.bot_pop__bg{position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.4)}
.bot_pop__layer{position:absolute;bottom:0;left:0;width:100%;border-radius:10px 10px 0 0;background-color:#fff}
.bot_pop__layer-slide_up{animation:slideUp .3s ease forwards}
.bot_pop__layer-slide_down{animation:slideDown .3s ease forwards}
.toast{position:fixed;z-index:2000;left:0;width:100%}
.toast-top{top:66px}
.toast-bot{bottom:66px}
.toast-center{top:50%;transform:translateY(-50%)}
.float{position:fixed;z-index:300;right:30px;bottom:66px}
.ico__logo{width:80px;height:35px;background:url(https://image.yeoboya.com/imgs/new_wedding_portal/common/ico_header_logo_fix.png) no-repeat;background-size:80px 105px;background-position:50% -70px}
.header{position:relative;z-index:300;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;flex-wrap:nowrap;background:#fff;height:45px;border:1px solid #f1f1f1;box-sizing:border-box}
.header__btn_wrap{display:flex;flex-direction:row;justify-content:flex-start;align-items:center;flex-wrap:nowrap;flex:0 0 auto}
.header__btn{flex:0 0 auto}
.main_card{margin:10px;border:1px solid #d4d4d4;margin-bottom:3px;box-sizing:border-box;border-radius:3px}
.main_card__ment_box{padding:5px;min-height:70px}
.main_card__marry,.main_card__re_marry{width:30px;height:17px;line-height:17px;border-radius:3px;color:#fff;font-size:12px;text-align:center;padding:0 3px;margin-right:5px}
.main_card__marry{background:#ff7b71}
.main_card__re_marry{background:#61b7b2}
.main_card__nickname{color:#427fcf;margin-right:10px;font-size:16px;font-weight:500}
.photo_box{position:relative;float:left;width:56px;height:56px;margin-right:5px;border:2px solid #d4d4d4;background:#f8f8f8;border-radius:50%}
.photo_box__img{width:100%;height:100%;border-radius:50%;object-fit:cover}
@media (min-width:460px){
.pc__bg{background:#f5f5f5;overflow-y:scroll}
.pc__container{position:relative;width:460px;margin:0 auto;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff}
.float{right:50%;margin-right:-215px}
.bot-fix,.bot_pop,.pop,.toast,.top-fix{left:50%;width:460px;margin-left:-230px}
}