.newsitem{display:flex}
.newsitem .thumbnail{margin-right:1rem}
.newsitem .thumbnail img{display:block;width:160px;height:100px;object-fit:cover}
.newsitem .contents h2{margin:0}
.newsitem .contents h2 a{color:#000}
.newsitem .contents p{margin:0;line-height:1.5;margin-top:.5rem;white-space:normal}
.newsitem+.newsitem{margin-top:3rem}
.newslist{box-sizing:border-box;padding-bottom:3rem;width:768px;margin:0 auto;margin-top:2rem}
@media screen and (max-width:768px){
.newslist{width:100%;padding-left:1rem;padding-right:1rem}
}
.categories{display:flex;padding:1rem;width:768px;margin:0 auto}
@media screen and (max-width:768px){
.categories{width:100%;overflow-x:auto}
}
.category{font-size:1.125rem;cursor:pointer;white-space:pre;text-decoration:none;color:inherit;padding-bottom:.25rem}
.category:hover{color:#495057}
.category.active{font-weight:700;border-bottom:2px solid #22b8cf;color:#22b8cf}
.category.active:hover{color:#3bc9db}
.category+.category{margin-left:1rem}