.todolistitem{
    padding: 15px;
    display: flex;
    align-items: center;
    &:nth-child(even){
        background: #f8f9fa;
    }
    &__checkbox{
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
    }
    svg{
        font-size: 30px;
    }
    &__txt{
        margin-left: 20px;
    }
    &.checked{
        svg{
            color: #22b8cf;
        }
        .todolistitem__txt{
            color: #adb5bd;
            text-decoration:line-through;
        }
    }
    &__remove{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #ff6b6b;
        cursor: pointer;
        &:hover{
            color: #ff8787;
        }
    }
    & + &{
        border-top: 1px solid #dee2e6;
    }
}